<cp-top-toolbar></cp-top-toolbar>

<div FxFlexFill [fxLayout]="row" fxLayoutAlign="center center">
  <md-card>
    <md-input-container>
      <md-card-title>Morgenmad</md-card-title>
      <input mdInput placeholder="">
      <button md-raised-button>Tilføj billeder</button>
    </md-input-container>
  </md-card>
  <md-card>
    <md-input-container>
      <md-card-title>Frokost</md-card-title>
      <input mdInput placeholder="">
      <button md-raised-button>Tilføj billeder</button>
    </md-input-container>
  </md-card>
  <md-card>
    <md-input-container>
      <md-card-title>Eftermiddag</md-card-title>
      <input mdInput placeholder="">
      <button md-raised-button>Tilføj billeder</button>
    </md-input-container>
  </md-card>
</div>
