<cp-top-toolbar></cp-top-toolbar>
<div fxLayout="row">
  <md-card fxFlex="70">
    <md-card-content>
    <img src="http://lorempixel.com/output/food-q-c-1000-800-2.jpg" class="md-card-image">
    </md-card-content>
  </md-card>
  <md-card fxFlex="30">
    <md-card-content>
      <h1></h1>
    <h2 style="text-decoration: underline">Morgenmad</h2>
    <p>Byg din egen burger</p>
    <p>Rundstykker</p>
    <p>Pølsehorn</p>
    <p>Mini pizza</p>
    <h2 style="text-decoration: underline">Frokost</h2>
    <p>Flæskesteg</p>
    <p>Tomat suppe</p>
    <p>Broccoli salat</p>
    <p>Bønnesalat</p>
    <h2 style="text-decoration: underline">Eftermiddag</h2>
    <p>Chokoladekage</p>
    <p>Scones</p>
    </md-card-content>
  </md-card>
</div>
